.no-space {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    margin-top: 10%;
    margin-bottom: 15%;
    padding-left: 3%;
}

.title {
    margin-bottom: 10%;
    color: rgb(240, 240, 240);
}

.sub-title {
    margin-bottom: 3%;
    color: rgb(240, 240, 240);
}

.content {
    color: rgba(192, 193, 190, 0.797);
}

.div-link {
    padding: 1px 0 1px 3%;
}

.div-link:hover {
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(54, 51, 51);
}
