#nav{
    margin-top: 2%;
}

.nav-item{
    margin-left: 30%;
    font-size: 20px;
}

#home{
    margin: 15%;
    height: 100px;
    letter-spacing: 6.5px;
}

#me{
    margin: 15%;
    letter-spacing: 1.5px;
}

#research{
    margin: 15%;
    letter-spacing: 1.5px;
}

h4{
    margin-bottom: 5%;
}

h6{
    margin-top: 5%;
    margin-bottom: 3%;
}

#api{
    margin: 5%;
}

#githublogo{
    width: 15%;
}

.table{
    text-align: center;
}